<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>platform</key>
		<integer>1</integer>
		<key>config</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>LDQQRegisterService</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>name</key>
				<string>LDQQShareService</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>LDQQAuthService</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>platform</key>
		<integer>2</integer>
		<key>config</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>LDWechatRegisterService</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>LDWechatPayService</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>name</key>
				<string>LDWechatShareService</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
				<key>name</key>
				<string>LDWechatAuthService</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>platform</key>
		<integer>3</integer>
		<key>config</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>LDYixinRegisterService</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>name</key>
				<string>LDYixinShareService</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>platform</key>
		<integer>4</integer>
		<key>config</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>name</key>
				<string>LDAliPayRegisterService</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>name</key>
				<string>LDAliPayService</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
